# Dependencies
node_modules/

# Expo
.expo/
dist/

# Environment variables
.env
.env.local

# Build outputs
*.apk
*.aab
*.ipa

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db